*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;background-color: rgb(63, 63, 83);
    align-items: stretch;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: flex-start;
    gap: 4rem;
    color: white;
    text-align: center;
}
li{
    border-radius: 25px;
    border-color: grey;
    background-color: rgb(45, 42, 42);
    width: 70px;
}

#sec1{
    display: flex;
    align-items: center;
    background-color: rgb(63, 63, 83);
}

#img1{
    margin-left: 241px;
}
#logos{
    background-color: rgb(219, 219, 219);
}
.texto1{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 135px;
    color: white;
}

#b1{
    color: white;
}

#b1 a{
    color: white;
}

#sec3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 65px;
}

.tel{
    width: 500px;
}
.lab{
    width: 500px;
}
.confi{
    width: 500px;
}

.contimg img{
    width: 200px;
}
.contimg{
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.titlulos1{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 123px;
    margin-bottom: 20px;
}
#sec4{
    margin-top: 50px;
}

#as1{
    margin-left: 200px;
    margin-top: 50px;
}
.sec1{
    display: flex;
    align-items: center;
    width: 380px;
    gap: 2rem;
    height: 150px;
}

.sec2{
    display: flex;
    align-items: center;
    width: 380px;
    gap: 2rem;
}
.sec2 img{
    width: 100px;
}

.sec1 img{
    width: 100px;
}

.tw{
    margin-left: 700px;
    margin-top: -255px;
    width: 300px;
}

#as1 h2{
    display: flex;
    width: 400px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;

}